<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        div {
            display: block;
            background-color: white;
            width: 1000px;
            height: 200px;
            margin-left:  30px;
            margin-top: 30px
        ;
        }
        h2{
            margin-left: 30px;
            color: red;
        }
		circle{
		margin-left: 30px;
		}
    </style>
</head>

<body>
<div id="div1">

    <h2>Hoge risico's</h2>
	
	<svg height="100" width="100">
  <circle cx="50" cy="50"  r="40" stroke="Red" stroke-width="3" fill="White" />
</svg> 
	
</div>

	
	





</body>
</html>